/* fonts */

@font-face {
  font-display: swap;
  font-family: "General Sans Bold";
  src: url("./fonts/GeneralSans-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Bold Italic";
  src: url("./fonts/GeneralSans-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Extralight";
  src: url("./fonts/GeneralSans-Extralight.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Extralight Italic";
  src: url("./fonts/GeneralSans-ExtralightItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Italic";
  src: url("./fonts/GeneralSans-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Medium";
  src: url("./fonts/GeneralSans-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Medium Italic";
  src: url("./fonts/GeneralSans-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Regular";
  src: url("./fonts/GeneralSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Semibold";
  src: url("./fonts/GeneralSans-Semibold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Semibold Italic";
  src: url("./fonts/GeneralSans-SemiboldItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Variable";
  src: url("./fonts/GeneralSans-Variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "General Sans Variable Italic";
  src: url("./fonts/GeneralSans-VariableItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans Bold";
  src: url("./fonts/DMSans-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans Light";
  src: url("./fonts/DMSans-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans Regular";
  src: url("./fonts/DMSans-Regular.woff2") format("woff2");
}

h1 {
  color: #000313;
  font-family: "DM Sans Regular";
  font-size: 96px;
  font-style: normal;
  line-height: 120px;
  font-weight: 400;

}

.emphasis {
  color: #819bff;
  font-family: "DM Sans Bold";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -2.88px;
}

body {
  background-color: "#FCFDFF";
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 64px;
    font-family: "DM Sans Regular", sans-serif, Arial, Helvetica, sans-serif;
  }
}

b,
strong {
  font-family: "DM Sans Bold";
}

/* Global styles */
/* body {
  background-color: #f5f5f5;
  margin: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif, Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  font-family:  inherit;
}

h1 {
  font-weight: 800;
  font-size: 5rem;
  margin: 0;
}

h3 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
  font-style: italic;
}

.about, .resume {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.resume {
  margin-bottom: 0;
}

.resume-date {
  font-style: italic;
}

.portfolio {
  width: 100%;
}

.byline {
  display: flex;
  align-items: flex-start;
}

.hedder {
  align-items: flex-start;
}

.hed {
  margin: 0;
}

.outlet {
  font-size: 1em;
  margin-top: 0.5em;
}

img, video {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.img-wrapper {
  max-width: 296px;
  padding-right: 1rem;
}

.hedlink {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}

.hedlink:hover, .hedlink:focus {
  background-size: 100% 2px;
}

a:visited {
  color: #463F63;
}

/* Mobile styles */
/* @media screen and (max-width: 600px) {
  body {
    margin: 1rem;
    width: auto;
  }

  h1 {
    font-size: 3rem;
  }

  .hedlink {
    font-size: 1.5rem;
  }

 .resume {
    width: auto;
    font-size: 1rem;
  }

  .resume {
    margin-bottom: 0;
  }

  .byline {
    flex-direction: column;
  }

  .portfolio {
    width: 100%;
    margin: 0;
  }

  .about {
    width: auto;
  }

  .img-wrapper {
    max-width: 375px;
  }
} */
