/* Global styles */
body {
  background-color: #f5f5f5;
  margin: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif, Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  font-family:  inherit;
}

h1 {
  font-weight: 800;
  font-size: 5rem;
  margin: 0;
}

h3 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
  font-style: italic;
}

.about, .resume {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.resume {
  margin-bottom: 0;
}

.resume-date {
  font-style: italic;
}

.portfolio {
  width: 100%;
}

.byline {
  display: flex;
  align-items: flex-start;
}

.hedder {
  align-items: flex-start;
}

.hed {
  margin: 0;
}

.outlet {
  font-size: 1em;
  margin-top: 0.5em;
}

img, video {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.img-wrapper {
  max-width: 296px;
  padding-right: 1rem;
}

.hedlink {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}

.hedlink:hover, .hedlink:focus {
  background-size: 100% 2px;
}

a:visited {
  color: #463F63;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  body {
    margin: 1rem;
    width: auto;
  }

  h1 {
    font-size: 3rem;
  }

  .hedlink {
    font-size: 1.5rem;
  }

 .resume {
    width: auto;
    font-size: 1rem;
  }

  .resume {
    margin-bottom: 0;
  }

  .byline {
    flex-direction: column;
  }

  .portfolio {
    width: 100%;
    margin: 0;
  }

  .about {
    width: auto;
  }

  .img-wrapper {
    max-width: 375px;
  }
}
